:host {
  display: block;
  
  .quarterly-goals-item-container {
    font-family: Oxygen;
    height: 65px; 
    background-color: white; 
    display: flex;
    flex-direction: column;

    &:hover{
      background-color: #CCEFEC40;
    }
    
    .goal-item{
      display: flex;
      margin-left: 10px;
      padding-top: 3px;

      .checkbox{
        transform: scale(1.1);
      }

      .goal-text{
        padding-top: 9px;
        
        .goal-title{
          overflow: hidden;
          color: #5A5A5A;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: Oxygen;
          font-size: 16.25px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .goal-title.completed {
          text-decoration: line-through;
        }
        
        .goal-hashtag{
          color: #2DBDB1;
          font-family: Oxygen;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      
      .completed-goals{
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 25px;
        color: #5A5A5A;
        font-family: Oxygen;
        font-size: 15px;
      }
    }

    mat-divider{
      display: flex;
      margin-top: auto;
      align-items: flex-end;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
