<div class="quarterly-goals-modal-container">
  <div class="top">
    <div class="top-text">
      <h1 class="top-title">Quarterly Goals</h1>
      <time class="top-date">
        Fall 2020
      </time>
    </div>
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <div class="content-item">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        @for (item of task(); track item.__id) {
          <fieldset class="field-select" cdkDrag>
            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
            <mat-form-field class="goal-input" subscriptSizing="dynamic">
              <input matInput
                placeholder="Enter your goal..."
                [value]="item.text"
                (input)="onTextChange(item, $event)"/>
            </mat-form-field>
            <mat-form-field class="goal-hashtag" subscriptSizing="dynamic"
              [style.--underline-color]="htgIdMap[item.__hashtagId]?.color">
              <input matInput
                class="hashtag-input"
                placeholder="#hashtag..."
                [style.color]="htgIdMap[item.__hashtagId]?.color"
                [value]="'#' + (htgIdMap[item.__hashtagId]?.name ?? '')"
                (input)="onHashtagTextChange(item, $event)"/>
            </mat-form-field>
          </fieldset>
        }
      </div>
    </div>
  </div>
  <div class="button">
    <button class="save-button" (click)="save()">
      Save
    </button>
  </div>
</div>