:host {
  display: block;
  
  .quarterly-goals-modal-container {
    background-color: white;
    width: 800px;
    height: 630px; 
    padding: 40px;
    border-radius: 12.5px 12.5px 0 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    .top{
      display: flex;
      justify-content: space-between;
      
      .top-text{
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        .top-title{
          margin-top: 0px;
          color: #4B5853;
          font-family: Oxygen;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        
        .top-date{
          margin-top: -10px;
          color: #4B5853;
          font-family: Oxygen;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      
      .close-button{
        transform: scale(1.4);
      }
    }
    .content{
      overflow-x: hidden;
      .content-item{
        display: flex;
        flex-direction: column;
        
          .field-select{
            border: 0px;
            display: flex;
            align-items: center;
            height: 44px;
            margin-left: -5px;
            padding: 0px;
            margin-bottom: 22px;
          
            --mat-form-field-container-vertical-padding: 20px;
            --mdc-filled-text-field-container-height: 5px;
          
            mat-icon{
              margin-right: 10px;
              align-self: center;
              height: 24px;
              width: 24px;
              font-size: 24px;
              color: #2dbdb1;
            }
            .goal-input {
              flex: 1;
              color: #4B5853;
              font-family: Oxygen;
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              --mdc-filled-text-field-container-color: transparent; 
              --mdc-filled-text-field-focus-active-indicator-color: #2dbdb1;
            }
            .goal-hashtag{
              margin-left: 30px;
              width: 210px;
              --mdc-filled-text-field-active-indicator-color: var(--underline-color);
              --mdc-filled-text-field-focus-active-indicator-color: var(--underline-color);
              --mdc-filled-text-field-container-color: transparent;
              .hashtag-input {
                font-family: Oxygen;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  
    .button{
      display: flex;
      justify-content: flex-end;
      margin-top: auto;
      align-items: flex-end;
    
      .save-button{
        background: #2dbdb1;
        color: #ffffff;
        width: 138px;
        height: 42px;
        border: none;
        border-radius: 12.5px;
        cursor: pointer;
        text-align: center;
        font-family: Oxygen;
        font-size: 22.5px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
