<div class="weekly-goals-container">
  <app-weekly-goals-header (editClicked)="openModal($event)" />

  <!-- Incomplete Goals -->
  @for (goal of incompleteWeeklyGoals(); track goal.__id) {
  <app-weekly-goals-item [goal]="goal" (toggled)="onGoalToggled($event)" />
  }
  <!-- Completed Goals -->
  @for (goal of completeWeeklyGoals(); track goal.__id) {
  <app-weekly-goals-item [goal]="goal" (toggled)="onGoalToggled($event)" />
  }
  <div class="add-goal" (click)="openModal(false)"> + Add a weekly goal</div>
</div>