:host {
  display: block;

  .weekly-goals-item-container {
    border: transparent;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .item {
      display: flex;
      flex-direction: row;
      font-size: 15px;

      &:hover {
        background-color: #CCEFEC40;
        cursor: pointer;
      }

      .goal-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;

        .goal {
          font-family: Oxygen;
          color: #5A5A5A;
          font-size: 16.25px;

          &.completed {
            text-decoration: line-through;
          }
        }

        .hashtag {
          font-family: Oxygen;
          font-size: 15px;

          &.completed {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}